article {

    
}

section.content p.normal {
    colour::rgb(240, 40, 80);
    
}

p.red {
    color:rgb(240, 40, 80);
    
}

p#green {
    color:rgb(50, 200,50);
    
}

/* what else can you do?  */
