article {

    
}

section.content p.normal {

    
}

p.red {
    color:rgb(240, 40, 80);
    
}

p#green {
    color:rgb(50, 200,50);
    font-weight: bold;
    
}

ul#mainlist {
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
    height: 100;
    width: fit-content;
    text-align: center;
}

li.red  {
    color:rgb(240, 40, 80);
}

li#special {
    color:rgb(35, 192, 192);
}

li#span {
    border: rgb(50, 200,50);
    color:sandybrown; 
}

div.child-and-grand {
    color:rgb(8, 197, 197);
}

div.different {
    color:rgb(248, 162, 1);
}

/* what else can you do?  */
